services:

  webserver:
    container_name: ${PROJECT_NAME}-web
    build:
      context: ./images/web
      args:
        - HOST_UID=${HOST_UID}
        - HOST_GID=${HOST_GID}
    image: ${PROJECT_NAME}-web
    expose:
      - "80"
      - "443"
    ports:
      - "${PROJECT_IP}:80:80"
      - "${PROJECT_IP}:443:443"
    volumes:
      - ..:/var/www
    depends_on:
      - appserver
    extra_hosts:
      - "infohub.local:127.0.0.1"
      - "demo.infohub.local:127.0.0.1"
      - "doc.infohub.local:127.0.0.1"
      - "private.infohub.local:127.0.0.1"
      - "random.infohub.local:127.0.0.1"

  appserver:
    container_name: ${PROJECT_NAME}-app
    build:
      context: ./images/app
      args:
        - HOST_UID=${HOST_UID}
        - HOST_GID=${HOST_GID}
        - PHP_VERSION=${PHP_VERSION}
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    image: ${PROJECT_NAME}-app
    environment:
      - XDEBUG_CONFIG
      - PHP_IDE_CONFIG
    expose:
      - "9000" # fpm
      - "9003" # fpm
      - "35729" # livereload
      - "1234" # LM Studio
    ports:
      - "${PROJECT_IP}:35729:35729" # livereload
    volumes:
      - ..:/var/www
    depends_on:
      - dbserver
      - cacheserver
    extra_hosts:
      - "host1.local:172.17.0.1"
      - "host2.local:172.18.0.1"
      - "host3.local:172.19.0.1"
      - "host4.local:172.20.0.1"
    models:
      aimodel:
        endpoint_var: MODEL_RUNNER_URL
        model_var: MODEL_RUNNER_MODEL

  dbserver:
    container_name: ${PROJECT_NAME}-db
    image: library/mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=${ROX_DB_PASS}
      - MYSQL_DATABASE=${ROX_DB_NAME}
    expose:
      - "3306"
    ports:
      - "${PROJECT_IP}:3306:3306"
    volumes:
      - ./data/mariadb:/var/lib/mysql

  cacheserver:
    container_name: ${PROJECT_NAME}-cache
#    image: library/redis:latest
    image: eqalpha/keydb:latest
    expose:
      - "6379"
    ports:
      - "${PROJECT_IP}:6379:6379"

#  mailserver:
#    container_name: ${PROJECT_NAME}-mail
#    image: schickling/mailcatcher
#    expose:
#      - "1025"
#      - "1080"
#    ports:
#      - "${PROJECT_IP}:1080:1080"

  phpdoc:
    container_name: ${PROJECT_NAME}-phpdoc
    image: phpdoc/phpdoc

  # https://hub.docker.com/_/mongo
  mongo:
    container_name: ${PROJECT_NAME}-mongo
    image: mongo:latest
    restart: always
    expose:
      - "27017"
    ports:
      - "${PROJECT_IP}:27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: infohub
    volumes:
      - ./data/mongodb/data:/data/db
      - ./data/mongodb/config:/data/configdb

  # https://github.com/garethflowers/docker-ftp-server
  ftpserver:
    container_name: ${PROJECT_NAME}-ftp
    environment:
      - PUBLIC_IP=0.0.0.0
      - FTP_PASS=123
      - FTP_USER=user
    image: garethflowers/ftp-server
    ports:
      - "20-21:20-21/tcp"
      - "40000-40009:40000-40009/tcp" # For passive mode
    volumes:
      - "./data/ftp/user:/home/user"

models:
  aimodel:
    model: ${LLM_MODEL_NAME}  # Exported from default.conf (line 45)
    context_size: 50000
    runtime_flags:
      - "--parallel"
      - "64"
      - "--no-prefill-assistant"